# Cartelle di test e dati temporanei
test/

# File di configurazione con API keys
config.json

# File temporanei
*.json
*.xml
*.png
*.jpg
*.jpeg

# Eccezioni per file necessari
!IconaLogiDroid.png
!imm/
!config_example.json